<div class="a1">
    <img src="back.png" alt="" width="700px" height="400px">
</div>
<br>
<div>
    <div class="h1">
        Welcome to TaskMaster!
        <br>
<div class="p">Your Ultimate Task Management Solution
</div>
<br>
Are you looking to streamline your work, boost productivity, and stay organized? TaskMaster is your all-in-one task management tool designed to help you stay on top of your to-do lists, project timelines, and team collaborations.
<br>
Key Features:
Intuitive Dashboard: Get an overview of your tasks, deadlines, and priorities all in one place.
Smart Task Scheduling: Plan your day, week, or month with our advanced scheduling features.
Team Collaboration: Share tasks, assign responsibilities, and communicate with your team seamlessly.

    </div>
</div>
